/* Catppuccin Mocha Theme - Darkest variant (Original) */
/* https://catppuccin.com/palette */
.theme-catppuccin-mocha .tiptap {
  --crepe-color-background: #1e1e2e;
  --crepe-color-on-background: #cdd6f4;
  --crepe-color-surface: #313244;
  --crepe-color-outline: #7f849c;
  --crepe-color-primary: #cba6f7;
  --crepe-color-inline-code: #f38ba8;
  --crepe-color-highlight: #393028;

  --crepe-font-default: "Noto Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Menlo, Monaco, "Courier New", Courier, monospace;
}
