/* Catppuccin Mocha Theme - Darkest variant (Original) */
/* https://catppuccin.com/palette */
.theme-catppuccin-mocha .milkdown {
  --crepe-color-background: #1e1e2e;
  --crepe-color-on-background: #cdd6f4;
  --crepe-color-surface: #313244;
  --crepe-color-surface-low: #45475a;
  --crepe-color-on-surface: #cdd6f4;
  --crepe-color-on-surface-variant: #a6adc8;
  --crepe-color-outline: #7f849c;
  --crepe-color-primary: #cba6f7;
  --crepe-color-secondary: #b4befe;
  --crepe-color-on-secondary: #1e1e2e;
  --crepe-color-inverse: #11111b;
  --crepe-color-on-inverse: #cdd6f4;
  --crepe-color-inline-code: #cba6f7;
  --crepe-color-error: #f38ba8;
  --crepe-color-hover: #313244;
  --crepe-color-selected: #45475a;
  --crepe-color-inline-area: #313244;

  --crepe-font-title: "Noto Serif", Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: "Noto Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 2px 0px rgba(205, 214, 244, 0.2), 0px 1px 3px 1px rgba(205, 214, 244, 0.1);
  --crepe-shadow-2: 0px 1px 2px 0px rgba(205, 214, 244, 0.2), 0px 2px 6px 2px rgba(205, 214, 244, 0.1);
}
