/* Catppuccin Frappe Theme - Subdued dark variant */
/* https://catppuccin.com/palette */
.theme-catppuccin-frappe .tiptap {
  --crepe-color-background: #303446;
  --crepe-color-on-background: #c6d0f5;
  --crepe-color-surface: #414559;
  --crepe-color-outline: #838ba7;
  --crepe-color-primary: #ca9ee6;
  --crepe-color-inline-code: #e78284;
  --crepe-color-highlight: #4a4230;

  --crepe-font-default: "Inter", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Cascadia Code", "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace;
}