/* Catppuccin Latte Theme - Light variant */
/* https://catppuccin.com/palette */
.theme-catppuccin-latte .tiptap {
  --crepe-color-background: #eff1f5;
  --crepe-color-on-background: #4c4f69;
  --crepe-color-surface: #ccd0da;
  --crepe-color-outline: #8c8fa1;
  --crepe-color-primary: #8839ef;
  --crepe-color-inline-code: #d20f39;
  --crepe-color-highlight: #e6d28a;

  --crepe-font-default: "Inter", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Cascadia Code", "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace;
}