/* Catppuccin Frappe Theme - Subdued dark variant */
/* https://catppuccin.com/palette */
.theme-catppuccin-frappe .milkdown {
  --crepe-color-background: #303446;
  --crepe-color-on-background: #c6d0f5;
  --crepe-color-surface: #414559;
  --crepe-color-surface-low: #51576d;
  --crepe-color-on-surface: #c6d0f5;
  --crepe-color-on-surface-variant: #a5adce;
  --crepe-color-outline: #838ba7;
  --crepe-color-primary: #ca9ee6;
  --crepe-color-secondary: #babbf1;
  --crepe-color-on-secondary: #303446;
  --crepe-color-inverse: #232634;
  --crepe-color-on-inverse: #c6d0f5;
  --crepe-color-inline-code: #ca9ee6;
  --crepe-color-error: #e78284;
  --crepe-color-hover: #414559;
  --crepe-color-selected: #51576d;
  --crepe-color-inline-area: #414559;

  --crepe-font-title: "Noto Serif", Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: "Noto Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 2px 0px rgba(198, 208, 245, 0.2), 0px 1px 3px 1px rgba(198, 208, 245, 0.1);
  --crepe-shadow-2: 0px 1px 2px 0px rgba(198, 208, 245, 0.2), 0px 2px 6px 2px rgba(198, 208, 245, 0.1);
}
