/* Crepe Dark Theme */
.theme-crepe-dark .tiptap {
  --crepe-color-background: #1f1b16;
  --crepe-color-on-background: #eae1d9;
  --crepe-color-surface: #18120b;
  --crepe-color-outline: #9c8f80;
  --crepe-color-primary: #f4bd6f;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-highlight: #3d3520;

  --crepe-font-default: "Source Serif 4", "Source Serif Pro", Georgia, serif;
  --crepe-font-code: "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace;
}