/* Crepe Light Theme */
.theme-crepe .tiptap {
  --crepe-color-background: #fffdfb;
  --crepe-color-on-background: #1f1b16;
  --crepe-color-surface: #fff8f4;
  --crepe-color-outline: #817567;
  --crepe-color-primary: #805610;
  --crepe-color-inline-code: #ba1a1a;

  --crepe-font-default: "Open Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: "Fira Code", Menlo, Monaco, "Courier New", Courier, monospace;
}
