/* Frame Dark Theme */
.theme-frame-dark .tiptap {
  --crepe-color-background: #1a1a1a;
  --crepe-color-on-background: #e6e6e6;
  --crepe-color-surface: #121212;
  --crepe-color-outline: #6b6b6b;
  --crepe-color-primary: #b5b5b5;
  --crepe-color-inline-code: #ff6666;
  --crepe-color-highlight: #3d3520;

  --crepe-font-default: "Inter", Arial, Helvetica, sans-serif;
  --crepe-font-code: "JetBrains Mono", Menlo, Monaco, "Courier New", Courier, monospace;
}