/* Nord Light Theme */
.theme-nord .tiptap {
  --crepe-color-background: #fdfcff;
  --crepe-color-on-background: #1b1c1d;
  --crepe-color-surface: #f8f9ff;
  --crepe-color-outline: #73777f;
  --crepe-color-primary: #37618e;
  --crepe-color-inline-code: #ba1a1a;

  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code: "JetBrains Mono", Menlo, Monaco, "Courier New", Courier, monospace;
}
