/* Nord Dark Theme */
.theme-nord-dark .tiptap {
  --crepe-color-background: #1b1c1d;
  --crepe-color-on-background: #f8f9ff;
  --crepe-color-surface: #111418;
  --crepe-color-outline: #8d9199;
  --crepe-color-primary: #a1c9fd;
  --crepe-color-inline-code: #ffb4ab;
  --crepe-color-highlight: #3b3926;

  --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
  --crepe-font-code: "JetBrains Mono", Menlo, Monaco, "Courier New", Courier, monospace;
}
